@keyframes line {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes line_2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110%);
  }
}

@keyframes linex1 {
  0% {
    transform: rotate(45deg) translate(-20px, 3px);
  }
  100% {
    transform: rotate(45deg) translate(3px, 3px);
  }
}

@keyframes linex2 {
  0% {
    transform: rotate(-45deg) translate(20px, -3px);
  }
  100% {
    transform: rotate(-45deg) translate(3px, -3px);
  }
}

.lines_button {
  z-index: 1010;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.lines_button_effect {
  background-color: #00000050;
}

.lines_button > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines {
  width: 17.6px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.line {
  width: 100%;
  height: 2px;
  transform: translateX(110%);
  background-color: transparent;
  box-sizing: border-box;
}

.line > .line_inner {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.line_effect {
  animation-name: line;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.line_effect_2 {
  animation-name: line_2;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.line_x {
  width: 100%;
  height: 1px;
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
}

.line_x:first-child {
  transform: rotate(45deg) translate(-20px, 3px);
}
.line_x:last-child {
  transform: rotate(-45deg) translate(20px, -3px);
}

.line_effect_x_1 {
  animation-name: linex1;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-fill-mode: forwards;
}

.line_effect_x_2 {
  animation-name: linex2;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-fill-mode: forwards;
}
